<?xml version="1.0" encoding="UTF-8"?>

<users>
  <user>
    <userName>{{ repox_admin_username }}</userName>
    <pass>{{ repox_admin_passhash }}</pass>
    <role>ADMIN</role>
    <email>{{ repox_admin_email }}</email>
  </user>
</users>
